.Blog_img{
    height:33vw;
}

@media (max-aspect-ratio: 1/1) {
  .Blog_img {
height:30vh;
margin-bottom: 3vh;
  }
}

.blog_content--left_site{
    display: flex;
    position: relative;
    display:flex;
    align-items: center;
    width: 50%;
    height: 100%;
  }

  @media (max-aspect-ratio: 1/1) {
    .blog_content--left_site {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
    }
  }
  
  .blog_content--right_site{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50%;
    height: 100%;
  }

  @media (max-aspect-ratio: 1/1) {
    .blog_content--right_site {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
    }
  }

  .showUp{
    animation: showup 0.5s;
    animation-fill-mode: forwards;
  }
 
 @keyframes showup {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  .blog_header{
    padding: 0 30px;
    position:absolute;
    font-family: 'Mr Dafoe', cursive;
    font-weight: 400;
    font-size: 8vw;
    top:-20px;
    margin: -8vh 0 0 2vw;
    line-height: 250px;
    background-image: linear-gradient(90deg,magenta, rgb(0, 162, 255));
    background-clip:text;
    color: transparent;
  }

  @media (max-aspect-ratio: 1/1) {
    .blog_header {
      line-height: 20vh;
      font-size: 8vh;
      margin:-10vh 0 0 0;
    }
  }

  .blog_text-box{
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-aspect-ratio: 46/87) {
    .blog_text-box {
      width:90%;
    }
  }