.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: transparent;
    z-index: 1;
}

.menu_name {
    margin-top: 10vh;
    margin-right: 57vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-transform: lowercase;
    font-family: 'Six Caps', sans-serif;
    font-size: 10.2vh;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
}

.portfoliod {
    font-size: 19vh;
    line-height: 16vh;
    margin-top: -3vh;
}

@media (max-aspect-ratio: 140/87) {
   .menu_name {
     margin-top: 50vh;
     margin-right: 0;
   }
 }

.menu_navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height:10vh;
    width: 100vw;
    position: absolute;
    top: 40px;
}

@media (max-aspect-ratio: 140/87) {
   .menu_navigation {
flex-direction: column;
height:20vh;
   }
 }

.menu_options {
   -webkit-tap-highlight-color: transparent;
    position: absolute;
    display: flex;
    gap: 14vh;
    text-transform: lowercase;
    font-family: 'Six Caps', sans-serif;
    font-weight: 400;
    font-size: 5vh;
    color:white;
}

@media (max-aspect-ratio: 140/87) {
   .menu_options {
gap:7vh;
   }
 }

.menu_icons {
   -webkit-tap-highlight-color: transparent;
    position: absolute;
    display: flex;
    gap: 4vh;
    right:15vw;
    top:3vh
}

@media (max-aspect-ratio: 140/87) {
   .menu_icons {
     margin-top: 0;
     right:auto;
     top:0;
   }
 }

.github_ico{
   width: 4vh;
   height: 4vh;
}

.linkedin_ico{
   width: 4vh;
   height: 4;
}

.mail_ico{
   width: 4vh;
   height: 4vh;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
 }

 a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
 }

 .linkedin_ico{
    transition-duration: 0.1s;
 }
 
 .linkedin_ico:hover{
    transform: translateY(-5px);
 }
 
 .mail_ico{
    transition-duration: 0.1s;
 }
 
 .mail_ico:hover{
    transform: translateY(-5px);
 }
 
 .github_ico{
    transition-duration: 0.1s;
 }
 
 .github_ico:hover{
    transform: translateY(-5px);
 }