.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    background: linear-gradient(to right, #f82fab27, #0051ff2a);
    border-radius: 100%;
    overflow: hidden;
  }
  
  .circle__blue--anim {
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 100%;
    filter: blur(3px);
    background-image: conic-gradient(transparent 7%, transparent, #0051ff);
    animation: rotate 12s linear infinite;
  }
  
  .circle__blue--blur_1 {
    filter: blur(4px);
  }
  
  .circle__blue--blur_2 {
    filter: blur(5px);
  }
  
  .circle__blue--blur_3 {
    filter: blur(6px);
  }
  
  .circle__blue--blur_4 {
    filter: blur(80px);
  }
  
  .circle__blue--white_ray {
    background-image: conic-gradient(transparent 3%, transparent, white);
    width: 598px;
    height: 598px;
    filter: blur(2px);
  }
  
  
  .circle__purple--anim {
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 100%;
    filter: blur(3px);
    background-image: conic-gradient(transparent 7%, transparent, #f82fab);
    animation: rotate 12s linear infinite;
    animation-delay: 6s;
  }
  
  .circle__purple--blur_1 {
    filter: blur(4px);
  }
  
  .circle__purple--blur_2 {
    filter: blur(5px);
  }
  
  .circle__purple--blur_3 {
    filter: blur(6px);
  }
  
  .circle__purple--blur_4 {
    filter: blur(80px);
  }
  
  .circle__purple--white_ray {
    background-image: conic-gradient(transparent 3%, transparent, white);
    width: 598px;
    height: 598px;
    filter: blur(2px);
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .circle__photo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 570px;
    height: 570px;
    background: black;
    border-radius: 100%;
  }
  
  .circle__light {
    position: absolute;
    width: 200vw;
    height: 200vw;
    mix-blend-mode: overlay;
    background-image: conic-gradient(black, black, #00d9ff, black, black, #f12ff8, black);
    animation: rotate 12s linear infinite;
    animation-delay: 5s;
  
  }

  .shadow--top {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url("assets/shadow.png");
  }
  .shadow--bottom {
    transform: rotate(180deg);
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url("assets/shadow.png");
  }
  
  .triangle_left {
    position: relative;
    clip-path: polygon(0 0, 100% 6.5%, 100% 93.5%, 0 100%);
    margin-bottom: 220px;
    margin-right: 374px;
    position: absolute;
    height: 800px;
    width: 30px;
    background: linear-gradient(black, blue, black);
    transform: rotate(30deg);
    overflow: hidden;
  }
  
  .triangle_left--anim {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    filter: blur(5px);
    border-radius: 100px;
    background: linear-gradient(to top, white, transparent);
    animation: anim_three 12s linear infinite;
  }
  
  @keyframes anim_three {
    0% {
      transform: translateY(-100%)
    }
  
    100% {
      transform: translateY(100%)
    }
  }
  
  .triangle_left--anim_reverse {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    filter: blur(5px);
    background: linear-gradient(to top, transparent, white);
    animation: anim_three_reverse 12s linear infinite;
  }
  
  @keyframes anim_three_reverse {
    0% {
      transform: translateY(100%)
    }
  
    100% {
      transform: translateY(-100%)
    }
  }
  
  .triangle_right {
    position: relative;
    clip-path: polygon(0 6.5%, 100% 0, 100% 100%, 0 93.5%);
    margin-bottom: 220px;
    margin-left: 374px;
    position: absolute;
    height: 800px;
    width: 30px;
    background: linear-gradient(black, magenta, black);
    transform: rotate(-30deg);
    overflow: hidden;
  }
  
  .triangle_right--anim {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    filter: blur(5px);
    background: linear-gradient(to bottom, transparent, white);
    animation: anim_two 12s linear infinite;
  
  }
  
  @keyframes anim_two {
    0% {
      transform: translateY(-100%)
    }
  
    100% {
      transform: translateY(100%)
    }
  }
  
  .triangle_right--anim_reverse {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    filter: blur(5px);
    background: linear-gradient(to bottom, white, transparent);
    animation: anim_two_reverse 12s linear infinite;
  
  }
  
  @keyframes anim_two_reverse {
    0% {
      transform: translateY(100%)
    }
  
    100% {
      transform: translateY(-100%)
    }
  }
  
  .triangle_bottom {
    position: relative;
    clip-path: polygon(6.5% 0, 93.5% 0, 100% 100%, 0 100%);
    margin-top: 428px;
    position: absolute;
    height: 30px;
    width: 800px;
    background: linear-gradient(to right, black, transparent, black);
    overflow: hidden;
    animation: background_color 12s linear infinite
  }
  
  @keyframes background_color {
    0% {
      background-color: magenta;
    }
  
    50% {
      background-color: blue;
    }
  
    100% {
      background-color: magenta;
    }
  
  }
  
  .triangle_bottom--anim {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    filter: blur(5px);
    background: linear-gradient(to left, white, transparent);
    animation: anim_one 12s linear infinite;
    animation-delay: 6s;
  }
  
  @keyframes anim_one {
    0% {
      transform: translateX(-100%)
    }
  
    100% {
      transform: translateX(100%)
    }
  }
  
  .triangle_bottom--anim_reverse {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    filter: blur(5px);
    background: linear-gradient(to left, transparent, white);
    animation: anim_one_reverse 12s linear infinite;
    animation-delay: 6s;
  }
  
  @keyframes anim_one_reverse {
    0% {
      transform: translateX(100%)
    }
  
    100% {
      transform: translateX(-100%)
    }
  }
  
  .front {
    scale: 70%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
  
  .photo {
    margin-left: 83px;
    margin-bottom: 88px;
    position: absolute;
    width: 100%;
    height: 660px;
    background-image: url("assets/face.png");
    background-repeat: no-repeat;
    background-size: contain;
  }