.header_projects_box{
  font-size: 5vw;
  display:flex;
}

@media (max-aspect-ratio: 1/1) {
  .header_projects_box {
align-items: center;
justify-content: center;
  }
}

.header_projects{
    padding: 0 30px;
    position:absolute;
    font-family: 'Mr Dafoe', cursive;
    font-weight: 400;
    margin: -6vh 0 0 2vw;
    line-height: 250px;
    background-image: linear-gradient(90deg,magenta, rgb(0, 162, 255));
    background-clip:text;
    color: transparent;
  }

  @media (max-aspect-ratio: 1/1) {
    .header_projects {
        line-height: 20vh;
        font-size: 10vh;
        margin:0 0 0 0;
    }
  }

  .showUp{
    animation: showup 0.5s;
    animation-fill-mode: forwards;
  }
 
 @keyframes showup {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
