.Rick_and_Morty{
    height:30vw;
}

@media (max-aspect-ratio: 1/1) {
  .Rick_and_Morty {
height:30vh;
  }
}

.rickmorty_content--left_site{
  display:flex;
    position: relative;
    width: 50%;
    height: 100%;
  }

  @media (max-aspect-ratio: 1/1) {
    .rickmorty_content--left_site {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
    }
  }
  
  .rickmorty_content--right_site{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    height: 100%;
  }

  @media (max-aspect-ratio: 1/1) {
    .rickmorty_content--right_site {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
    }
  }

  .showUp{
    animation: showup 0.5s;
    animation-fill-mode: forwards;
  }
 
 @keyframes showup {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  .rickmorty_text-box{
    position:absolute;
    top:15vh;
  }

  @media (max-aspect-ratio: 1/1) {
    .rickmorty_text-box {
      top:5vh;
    }
  }