.Rick_and_Morty{
    height:95%;
}

.rickmorty_content--left_site{
    position: relative;
    width: 50%;
    height: 100%;
  }
  
  .rickmorty_content--right_site{
    position: relative;
    width: 50%;
    height: 100%;
  }

  .showUp{
    animation: showup 0.5s;
    animation-fill-mode: forwards;
  }
 
 @keyframes showup {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  .rickmorty_text-box{
    position:absolute;
    top:130px;
  }