.ToDo_img{
  height:30vw;
}

@media (max-aspect-ratio: 1/1) {
.ToDo_img {
height:30vh;
margin-bottom: 4vh;
}
}

.todo_content--left_site{
  display:flex;
  align-items: center;
    position: relative;
    width: 50%;
    height: 100%;
  }

  @media (max-aspect-ratio: 1/1) {
    .todo_content--left_site {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
    }
  }
  
  .todo_content--right_site{
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
  }

  @media (max-aspect-ratio: 1/1) {
    .todo_content--right_site {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
    }
  }

  .showUp{
    animation: showup 0.5s;
    animation-fill-mode: forwards;
  }
 
 @keyframes showup {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  .todo_text-box{
    position:absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (max-aspect-ratio: 53/96) {
    .todo_text-box {
      width:90%;
    }
  }