@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Six+Caps&display=swap');
/*
font-family: 'Mr Dafoe', cursive;
font-family: 'Six Caps', sans-serif;
*/

.root{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("assets/palm/palms.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}